.item-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #b6bdc7;
    border-radius: 10px;
    box-shadow: 0 0 10px #272727;
}

.item-list-container p {

    color: #272727;

}